p{

  text-align: center;

}

h1,
h2,
h3,
h4,
h5{
  text-align: center;
}

img
{
  display: block;
  margin: auto;
}

ol
{

  margin-left: 850px;
  text-align: left;
}
ul
{
  
  margin-left: 850px;
  text-align: left;
}

li
{
  margin: 10px;
}

