p{
  
color: rgb(41, 41, 41);
  text-align: center;
  
  

}

a
{
  color:blue

}

h1,
h2,
h3,
h4,
h5{
  text-align: center;
}

h3
{
  
  color:darkmagenta
}

img
{
  display: block;
  margin: auto;
}

ol
{
  
  margin-left: 850px;
  width: 500px; 
  word-break: break-word;
  
  text-align: left;
}
ul
{
  
  margin-left: 850px;
  text-align: left;
}

li
{
  margin: 10px;
}

html
{
  background-color: rgb(247, 206, 213);
}

